<div class="container nav-shell">
	<nav class="main-nav" id="mainNav">
		<ul class="nav-list">
			<li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/pages/about.html">About</a></li>
			<li class="nav-item has-dropdown">
				<a class="nav-link" href="/pages/our_product.html" data-submenu-trigger>Our Products</a>
				<ul class="dropdown-menu" aria-label="Our products submenu">
					<li class="dropdown-item"><a class="dropdown-link" href="/products/product1.html">Timing Pulley</a></li>
					<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Universal Joints</a></li>
					<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Timing Belts</a></li>
					<li class="dropdown-item has-submenu">
						<a class="dropdown-link" href="/pages/construction.html" data-submenu-trigger>Other Products</a>
						<ul class="dropdown-menu level-2" aria-label="Other products submenu">
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Gear</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Coupling</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Keyless Clampex</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Industrial Chain</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Poly V Pulley</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Rack-Pinion</a></li>
							<li class="dropdown-item"><a class="dropdown-link" href="/pages/construction.html">Customized Products</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="nav-item"><a class="nav-link" href="/pages/application.html">Applications</a></li>
			<li class="nav-item"><a class="nav-link" href="/pages/construction.html">Exports</a></li>
			<li class="nav-item"><a class="nav-link" href="/pages/construction.html">Facilities</a></li>
			<li class="nav-item"><a class="nav-link" href="/pages/construction.html">Blogs</a></li>
			<li class="nav-item"><a class="nav-link" href="/pages/construction.html">Contact Us</a></li>
		</ul>
	</nav>
</div>
